<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Appenders>
		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L usedLayout: %X PatternLayout - %m%n" />
		</Console>
		<Console name="JsonObjectMessage" target="SYSTEM_ERR">
			<JsonLayout complete="false" compact="true" eventEol="true"
				objectMessageAsJsonObject="true">
				<KeyValuePair key="usedLayout"
					value="JsonLayout_withObject" />
			</JsonLayout>
		</Console>
		<File name="JSONFile" fileName="logs/app.log">
			<JsonLayout complete="false" compact="false"
				objectMessageAsJsonObject="true">
				<KeyValuePair key="usedLayout"
					value="JsonLayout_withObject" />
			</JsonLayout>
		</File>

	</Appenders>
	<Loggers>
		<Logger name="org.gepardec" additivity="false" level="trace">
			<AppenderRef ref="JsonObjectMessage" />
		</Logger>
		<Logger name="test" additivity="false" level="trace">
			<AppenderRef ref="JsonObjectMessage" />
		</Logger>
		<Root level="trace" additivity="false">
			<appender-ref ref="console" />
		</Root>
	</Loggers>
</Configuration>
